env_file = "/etc/pkgstash/pkgstash.env"
cache_root = "/home/ewpt3ch/dev/pkgstash/tmprepo"
mirror_urls  = [
              "https://losangeles.mirror.pkgbuild.com/",
              "https://mirror.givebytes.net/archlinux/",
              "https://arch.mirror.constant.com/",
              ]
# array of upstream repos this server caches see pacman.conf
# or pacman docs for more info <core, extra, multilib>
mirrored_repos = ["core", "extra"]
port        = "8090"
