cache_root = "/home/ewpt3ch/dev/pacman-cache-server/tmprepo"
mirror_url  = ["https://us.mirrors.cicku.me/archlinux/",
              "https://losangeles.mirror.pkgbuild.com/",
              "https://mirror.givebytes.net/archlinux/"]
# array of upstream repos this server caches see pacman.conf
# or pacman docs for more info <core, extra, multilib>
mirrored_repos = ["core", "extra"]
port        = "8090"

[auth]
token = "FakeToken"
