[Unit]
Description=[refresh pkgstash db files]

[Service]
Type=oneshot
User=pkgstash
EnvironmentFile=/etc/pkgstash/pkgstash.env
ExecStart=/usr/bin/curl -s -X POST -H "Authorization: Bearer ${PKGSTASH_TOKEN}" http://localhost:8090/api/refresh
